/**
 * Custom CSS for used plugins
 */
.cm-editor {
  border: 1px solid rgb(204,204,204);
}

.cm-editor .cm-gutter {
  min-height: 200px;
}

.cm-editor .cm-content {
  min-height: 200px;
}

/**
 * Custom CSS for the Sequence area
 */

#qpisql-execute-button {
  margin-top: 10px;
}

/**
 * Custom CSS for the Output areas on editQuestion page AND the test pages
 */
.qpisql-output-area {
  width: 100%;
  max-width: 100%;
  min-height: 28px;
  max-height: 280px;
  color: #555555;
  font-size: 12px;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  overflow: auto;
  margin-top: 10px;
}

.qpisql-output-area-error {
  border: 1px solid rgb(208,128,128);
  background-color: #ffebeb;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 28px;
  line-height: 20px;
}

.qpisql-output-area-execution-running {
  border: 1px solid rgb(204,204,204);
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 28px;
  line-height: 20px;
}

/**
 * Custom CSS for beautifing the output tables
 */
.qpisql-output-table {
  min-width: 100%;
  border-collapse: collapse;
}

.qpisql-output-table-header {
  background-color: #f7f7f7;
  color: rgb(153, 153, 153);
  text-transform: uppercase;
}

.qpisql-output-table-header td {
  background-color: #f7f7f7;
  color: rgb(153, 153, 153);
  text-transform: uppercase;
}

.qpisql-output-table tr td {
  min-width: 50px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid rgb(204,204,204);
  min-height: 28px;
  line-height: 20px;
}

.qpisql-output-table-tuple td {
  background-color: #ffffff;
}

/*
.qpisql-output-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
*/

/**
 * Custom CSS for scoring area on editQuestion page
 */
.qpisql-sm-input-table {
  width: 100%;
  border: 0px;
}

.qpisql-sm-input-table tr td {
  min-width: 50px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 28px;
}

.qpisql-sm-input-points {
  vertical-align: middle;
  width: 50%;
  font-size: 12px;
}

.qpisql-sm-input-output-text {
  border: 1px solid rgb(204,204,204);
  background-color: #f7f7f7;
  color: rgb(153, 153, 153);
  text-transform: uppercase;
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 28px;
  line-height: 20px;
  font-size: 12px;
}

.qpisql-sm-input-value-text {
  border: 1px solid rgb(204,204,204);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 28px;
  line-height: 20px;
  background-color: #ffffff;
  font-size: 12px;
}
