<div class="qpisql-input-area">

  <div class="help-block">
    <b>{HEADER}</b>
  </div>

  <!-- Sequence input -->
  <textarea id="{ID}" name="{NAME}" data-contains-code class="qpisql-code-input-box noRTEditor" cols="80" rows="10">{CONTENT}</textarea>

  <script>
    // Create a coding box out of the textarea with a corresponding onChange handler
    var editor_{ID} = codemirror_sqlquestion.editorFromTextArea(
      document.getElementById('{ID}'),
      window.EXECUTE_HANDLER.onChange(),
      false
    );

    // Create an ExecutionInput out of this
    window.EXECUTE_HANDLER.registerInput(new SequenceTextareaInput('{NAME}', editor_{ID}));

    // Create an ExecutionOutput out of this
    window.EXECUTE_HANDLER.registerOutput(new SequenceTextareaOutput(editor_{ID}));

    document.getElementById('{ID}').setAttribute('data-has-editor', true)
  </script>

</div>
