<div class="qpisql-output-area">

  <div class="qpisql-info-area help-block">
    {HEADER}
  </div>

  <table class="qpisql-output-table">
    <tr class="qpisql-output-table-header">
      <td>{HEADER_COMPUTED_VALUE}</td>
      <td>{HEADER_EXPECTED_VALUE}</td>
      <td>{HEADER_POINTS}</td>
      <td>{HEADER_MAX_POINTS}</td>
    </tr>
    <tr class="qpisql-output-table-tuple">
      <td>{COMPUTED_VALUE}</td>
      <td>{EXPECTED_VALUE}</td>
      <td>{POINTS}</td>
      <td>{MAX_POINTS}</td>
    </tr>
  </table>
</div>
